
$color1: darken(#28323C, 10);
$color2: #1F3A55;
$color3: #325D88;
$color4: #5B7288;
$color5: #8EB1D5;

$font-color: $color5;
$bright-text-color: $font-color;
$border-color: $color2;

/*$noise-bg: image-url('noise.png') top left !default;*/
/*$img-border: inline-image('dotted-border.png') !default;*/

// Main Link Colors
$link-color: $color3 !default;
$link-color-hover: $color4 !default;
$link-color-visited: $link-color !default;
$link-color-active: $link-color-hover !default;

// Main Section Colors
$main-bg: $color1 !default;
$page-bg: $color1 !default;
$article-border: transparent !default;

$header-bg: $color1 !default;
$header-border: transparent !default;
$title-color: $font-color !default;
$subtitle-color: $font-color !default;

$text-color: $font-color !default;
$text-color-light: $font-color !default;
$type-border: transparent !default;

/* Navigation */
$nav-bg: $color1 !default;
$nav-bg-front: transparent !default;
$nav-bg-back: transparent !default; 
$nav-color: $link-color !default;
$nav-color-hover: $link-color-hover !default;
$nav-placeholder: transparent !default;
$nav-border: $border-color !default;
$nav-border-top: $border-color !default;
$nav-border-bottom: $border-color !default;
$nav-border-left: transparent !default;
$nav-border-right: transparent !default;

/* Sidebar colors */
$sidebar-bg: $color1 !default;
$sidebar-link-color: $link-color !default;
$sidebar-link-color-hover: $link-color-hover !default;
$sidebar-link-color-active: $link-color-active !default;
$sidebar-color: $text-color !default;
$sidebar-border: $border-color !default;
$sidebar-border-hover: transparent !default;
$sidebar-link-color-subdued: transparent !default;
$sidebar-link-color-subdued-hover: transparent !default;

$footer-color: $text-color !default;
$footer-bg: $color1 !default;
$footer-bg-front: transparent !default;
$footer-bg-back: transparent !default;
$footer-color: $text-color !default;
$footer-color-hover: $color5 !default;
$footer-border-top: transparent !default;
$footer-border-bottom: transparent !default;
$footer-link-color: $link-color  !default;
$footer-link-color-hover: $link-color-hover !default;
$page-border-bottom: $border-color !default;


/* Core theme application */

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}
aside.sidebar a {
  @include link-colors($sidebar-link-color, $hover: $sidebar-link-color-hover, $focus: $sidebar-link-color-hover, $active: $sidebar-link-color-active);
}
a {
  @include transition(color .3s);
}

html {
  background: $page-bg;
}
body {
  > div {
    background: $sidebar-bg;
    border-bottom: 1px solid $page-border-bottom;
    > div {
      background: $main-bg;
      border-right: 1px solid $sidebar-border;
    }
  }
}
